body {
	background: url(/imgs/cork.jpg);
	font-family: Helvetica, Arial, Sans Serif;
	font-size: 14px;
	line-height: 19px;
	color: #271A0E;
	
	h1 {
		font-size: 32px;
		font-weight: bold;
		margin-bottom: 50px;
		color: #fff;
		text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
		
		.edit {
			font-size: 13px;
			color: #eee;
			font-weight: normal;
			margin-left: 15px;
		}
	}
	
	&.sidebar_open {
		#main, .modal_wrapper {
			margin-left: 270px;
			margin-right: -270px;
		}
		
		#sidebar {
			left: 0;
		}
		
		#loading .spinner {
			left: 270px;
		}
	}
}

[contenteditable] {
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
}

* { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#main {
	.folder_is_archived {
		margin-bottom: 0px;
	}
	
	#dashboard {
		padding: 0px 30px;

		.user_sheet, .document_sheet {
			width: 35%;
		}
		
		.document_sheet {
			margin-top: 70px;
		}
		
		.home_sheet {
			margin-top: 70px;
		}
		
		.task_sheet {
			min-height: 250px;
		}
	}
}

#sidebar {
	position: fixed;
	left: -270px;
	width: 270px;
	top: 0;
	bottom: 0;
	background: #333;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 999;
	
	.toggle_sidebar {
		background: #333;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		color: #fff;
		padding: 10px 15px;
		float: right;
		margin-right: -37px;
		border-radius: 0 7px 7px 0;
		z-index: -1;
		font-weight: bold;
		margin-top: 200px;
	}
	
	ul {
		overflow-y: auto;
		height: 100%;
		
		li {
			a {
				display: block;
				color: #fff;
				font-size: 18px;
				line-height: 18px;
				padding: 15px;
				
				&:hover {
					background: #555 !important;
				}
				
				&.selected {
					font-weight: bold;
					background: #444;				
				}
			}
		}
	}
}

#header {
	background: #fff;
	padding: 25px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
	font-size: 18px;
	line-height: 26px;
	
	.container {
		margin: 0 auto;
		
		.profile {
			float: left;
			margin-left: 20px;
			margin-top: 10px;
			font-size: 15px;
			line-height: 22px;
			
			.name {
				font-weight: bold;
				font-size: 22px;
				line-height: 30px;
			}
		}
		
		.avatar {
			float: left;
			width: 120px;
		}
		
		.brokerage_logo {
			float: right;
			
			img {
				max-width: 180px;
				max-height: 125px;
			}
		}
	}
}

h2 {
	position: absolute;
	font-weight: bold;
	color: #271A0E;
	background: #fff;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
	-ms-transform: rotate(1deg);
	-webkit-transform: rotate(1deg);
	transform: rotate(1deg);
	display: inline-block;
	font-size: 18px;
	padding: 5px 20px;
	line-height: 30px;
	margin-top: -55px;
}

.sheet {
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
	background: #eee;
	padding: 40px 20px 20px;
}

.task_sheet {
	background: url(/imgs/note.jpg);
	-ms-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	width: 60%;
	float: left;
	
	.task {
		margin-bottom: 10px;
		
		.content {
			display: block;
			background: transparent;
			float: right;
			width: 88%;
			border: 0;
			resize: none;
			outline: none;
			font-size: 16px;
			line-height: 24px;
			margin-top: -1px;
		}
	
		.meta {
			width: 10%;
			float: left;
			text-align: right;
		}
	}
	
	#task_content {
		width: 100%;
		padding: 6px 8px;
		outline: none;
		font-size: 16px;
		line-height: 24px;
		font-family: Helvetica, Arial, Sans Serif;
		border: 1px solid #ccc;
		border-radius: 4px;
	}
}

.user_sheet {
	-ms-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	
	.user {
		display: inline-block;
		margin-right: 12px;
		width: 17%;
		margin: 1.5%;

		img {
			border-radius: 50px;
			border: 1px solid #ccc;
		}
	}
}

.document_sheet {
	-ms-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	transform: rotate(2deg);
	
	th {
		font-weight: bold;
		font-size: 13px;
		text-align: left;
	}
}

.placer {
	display: none;
}

#map {
	-ms-transform: rotate(0.5deg);
	-webkit-transform: rotate(0.5deg);
	transform: rotate(0.5deg);
	margin-bottom: 70px;
	margin-top: 70px;
}

.home_sheet {
	ul {
		margin-left: -2%;
		margin-right: -2%;

		li {
			float: left;
			width: 29.111%;
			padding: 1.111%;
			margin: 2%;
			background: #eee;
			box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
			padding: 20px;
			
			&:nth-child(odd) {
				-ms-transform: rotate(2deg);
				-webkit-transform: rotate(2deg);
				transform: rotate(2deg);
			}
			
			&:nth-child(even) {
				-ms-transform: rotate(-2deg);
				-webkit-transform: rotate(-2deg);
				transform: rotate(-2deg);
			}
			
			&.home {
				.address {
					font-weight: bold;
					margin-bottom: 5px;
					width: 70%;
					overflow: hidden;
					height: 20px;
					word-break: break-all;
				  text-overflow: ellipsis;
				  white-space: nowrap;
				}
				
				.price {
					float: right;
					color: #307099;
				}
			}
		}
	}
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.clear {
	clear: both;
}

.align_center {
	text-align: center;
}

.container {
	max-width: 980px;
	width: 100%;
	margin: 50px auto;
}

.upload_document {
	margin-top: -35px;
	margin-right: -15px;
	float: right;
}

.button {
	font-family: Helvetica, Arial, Sans Serif;
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	padding: 10px 20px;
	display: inline-block;
	border-radius: 3px;
	font-weight: bold;
	cursor: pointer;
	
	&.blue {
		background: #36599b;
		background: -moz-linear-gradient(top,  #36599b 0%, #2c539e 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#36599b), color-stop(100%,#2c539e));
		background: -webkit-linear-gradient(top,  #36599b 0%,#2c539e 100%);
		background: -o-linear-gradient(top,  #36599b 0%,#2c539e 100%);
		background: -ms-linear-gradient(top,  #36599b 0%,#2c539e 100%);
		background: linear-gradient(to bottom,  #36599b 0%,#2c539e 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36599b', endColorstr='#2c539e',GradientType=0 );
		border: 1px solid #2c539e;
		box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.2);
	}
	
	&.small {
		font-size: 11px;
		padding: 3px 15px;
	}
	
	&.large {
		font-size: 15px;
		padding: 10px 30px;
	}
}

.back {
	margin-right: 10px;
	color: #77604A;
	font-size: 12px;
}

#loading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 997;
	background: url(/imgs/cork.jpg);
	
	.spinner {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 998;
		background: url(/imgs/loading.gif) center no-repeat;
	}
}

@media screen and (max-width: 720px){
	body.sidebar_open {
		#main, .modal_wrapper {
			margin-right: -270px;
		}
		
		#sidebar {
			position: fixed;
		}
	}
	
	#main {
		#dashboard {
			margin-top: 40px;
			padding: 0px;
			
			.task_sheet {
				min-height: initial;
			}
		}
	}
	
	h1 {
		padding-left: 17px;
	}
	
	#header {
		padding: 12px;

		.container {
			.avatar {
				display: inline-block;
				float: right;
				width: auto;
				max-height: 80px;
				max-width: 80px;
			}
			
			.brokerage_logo {
				display: none;
			}
			
			.profile {
				width: 55%;
				float: left;
				margin-left: 40px;
				margin-top: 0;
				
				p {
					font-size: 12px;
					line-height: 17px;
					
					&.name {
						font-size: 17px;
						line-height: 27px;
					}
				}
			}
		}
	}
		
	.sheet {
		width: 100% !important;
		padding-top: 35px;
		margin-bottom: 70px;
		float: none;
		
		&.task_sheet {
			-ms-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		
		&.document_sheet {
			-ms-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		
		&.user_sheet {
			-ms-transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		
		.home {
			width: auto;
			float: none;
			-ms-transform: rotate(0deg) !important;
			-webkit-transform: rotate(0deg) !important;
			transform: rotate(0deg) !important;
		}
	}
	
	#sidebar {
		position: absolute;

		.toggle_sidebar {
			margin-right: -37px;
			margin-top: 30px;
		}
	}
}